Answer 3

In [ ]:
daily_sales = [150, 200, 180, 220, 170, 190, 210]

In [ ]:
#Total sales

Total=sum(daily_sales)
print(Total)

1320

In [ ]:
#Average

Avg= Total/len(daily_sales)
print(Avg)

188.57142857142858

In [ ]:
#Highest

Highest=max(daily_sales)

print(Highest)

220

In [ ]:
#More than average

above_average = [sales for sales in daily_sales if sales > Avg]

print(above_average)

[200, 220, 190, 210]

In [ ]:
#Increment

Increment = [sales*1.1 for sales in daily_sales ]

print(Increment)

[165.0, 220.00000000000003, 198.00000000000003, 242.00000000000003, 187.00000000000003, 209.00000000000003, 231.00000000000003]

Question 4

In [ ]:
scores = [75, 88, 92, 67, 88, 94, 73, 81, 78, 90]

In [ ]:
#Sum

Total=-0
for score in scores:
  Total = Total + score

print(Total)

826

In [ ]:
#Average

Average = 0
for score in scores:
  Average= Total/len(scores)

print(Average)

82.6

In [ ]:
#Highest

Highest = 0
for score in scores:
  if score > Highest:
    Highest = score
print(Highest)

94

In [ ]:
#Above than Average

count = 0
for score in scores:
  if score > Average:
    count+=1
print(count)

5

In [ ]:
#Ascending

Sort_scores = sorted(scores)
print(Sort_scores)

[67, 73, 75, 78, 81, 88, 88, 90, 92, 94]

Answer 5

In [ ]:
dict={"a":100, "b":200, "c":300}
X=sum(dict.values())
print(X)

600

Answer 6

In [ ]:
Income= 5000
dict = {'rent':1500, 'grocery':600, 'utilities':200, 'transpotation':300, 'entertainment':400}

Expenses=sum(dict.values())
print(Expenses)

3000

In [ ]:
#Remaining

Remain = Income-Expenses
print(Remain)

2000

In [ ]:
#Condition

if Remain>0:
  Savings= .5*Remain
  print(Savings)

  if Remain<0:
    print("Warning")

1000.0

In [ ]:
Answer 8

In [3]:
def is_even(num):
  if num%2==0:
    return True
  else:
    return False

num=int(input('Please enter no.'))
print("The number is even", is_even(num))

Please enter no.55
The number is even False

1. ANSWER 1 --> Python is a programing/scripting language used in many areas such as research, data analysis, data science etc. Python is an Interpreted Programming Language where execution of code occurs simultaneously with the code.


2. ANSWER 2 --> Built-in data types in Python are the datatypes which are supported by python language to perform any code or programme.Some of the built-in data types in Python are Numerical, Sequence, Boolean, Dictionary and Set.The built in data are those which do not need any external code nor need to be defined in a programme to execute.

7. ANSWER 7 --> In python functions are block of code or multiple codes which can be used and recalled at any instance of time in a programme to optimise its usability and efficiency.
To define a function we use keyword "def". A function can be with or without parameter.